
<div class="container">
<div class="row mx-auto" style="padding-top: 28px">
    
<h2 class="mx-auto" style="color: blue">404 Page Not Found</h2>  
  <p>I sit back in the reclining chair, a slow squeaking coming from the joint. My hand reached for the snack bowl; I think best with a chip in my mouth, the saltier the better. There is another way to get it, there must be. I'd have to get inside their sever of course, nothing is ever deleted, not really.>404 - Not Found. I sit back in the reclining chair, a slow squeaking coming from the joint. My hand reached for the snack bowl; I think best with a chip in my mouth, the saltier the better. There is another way to get it, there must be. I'd have to get inside their sever of course, nothing is ever deleted, not really.</p>
</div>

</div>
